body {
margin: 0px;
background-color: #E6E6E6;
}
.full-container {
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
}
.main-header {
	height: 587px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.main-header .header-left {
	width: 50%;
	margin-left: 87px;
	height: 60%;
}
.header-left .header-title {
	border-left: 5px solid tomato;
	height: 182px;
	padding-left: 10px;
}
.header-title h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 51px;
	color: #333333;

}
.header-title h1 {
	color: rgba(221, 146, 6, 0.926);
	font-size: 79px;
	line-height: 0;
}
.header-left p {
	font-size: 20px;
	color: #7d7c7c;
	margin-bottom: 82px;
}
.small-p{
	color: #7c7474;
	margin-top: 54px;
	font-size: 23px;
}
.header-left a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-family: arial;
	font-size: 21px;

}
.button-one {
	background: #FF5959;
	padding: 10px 34px;
}
.main-header img {
	height: 300px;
	width: 301px;
}


.second-section {
	height: 400px;
	width: 100%;

}
.second-section h2 {
	text-align: center;
	font-size: 45px;
}
.second-section span{
	color: orange;
}
.second-section-flex {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.cards {
	border: 1px solid black;
	width: 27%;
	height: 300px;
	border-radius: 16px;
}
.card-1 {
	background-color:#a0d8df ;
}
.card-2 {
	background-color: #b57171;
}
.card-3 {
	background-color: #bd9c41;
}
.cards img {
	height: 100px;
	width: 100px;
	line-height: 0px;
	margin-left: 20px;
}
.cards h4 {
	font-size: 22px;
	line-height: 0px;
	margin-left: 20px;
}
.cards p {
margin-left: 20px;
text-align: justify;
margin-right: 25px;
}

.third-section {
	display: flex;
	margin-top: 100px;
	width: 100%;
	height:300px;

}
.third-section-left-logo {
width: 35%;
}
.third-section-left-logo img {
	height: 273px;
	width: 280px;
}
.third-section-info {
width: 50%;
margin-top: 10px;
}
.third-section-info h2 {
	font-size: 31px;
	line-height: 0px;
}
.third-section-info h3 {
	font-size: 21px;
	line-height: 15px;
}
.third-section-info p {
	color: #3E3E3E;
	font-size: 17px;
	line-height: 24px;
	text-align: justify;
	margin-bottom: 39px;
}

.button-2 {
text-decoration: none;
background-color: tomato;
padding: 9px 66px;
}
/*---------------------------------------------------*/
/*-------------------------------------------------*/
.four-section {
	display: flex;
	margin-top: 100px;
	width: 100%;
	height: 367px;
	justify-content: space-between;

}
.four-section-left-logo {
	height: 320px;
	width: 296px;
	margin-right: 100px;
}
.four-section-left-logo img {
	height: 100%;
	width: 100%;
}
.four-section-info {
	width: 50%;
	margin-top: 10px;
	padding-left: 20px;
}
.four-section-info h2 {
	font-size: 31px;
	line-height: 0px;
}
.four-section-info h3 {
	font-size: 21px;
	line-height: 15px;
}
.four-section-info p {
	color: #3E3E3E;
	font-size: 17px;
	line-height: 24px;
	text-align: justify;
	margin-bottom: 39px;
}

.button-2 {
text-decoration: none;
background-color: tomato;
padding: 9px 66px;
}

.five-section {
	width: 100%;
	height: 487px;
	margin-top: 40px;
}
.five-section h2 {
text-align: center;
font-size: 45px;
}
.five-section h2 span {
	color: #E09A19;
}
.five-section-flex {
display: flex;
}
.five-section-left-logo {
	height: 309px;
	width: 280px;
}
.five-section-left-logo img {
height: 100%;
width: 100%;
}
form  {
margin-left: 190px;
margin-top: 40px;
}
input{
	width: 379px;
	height: 30px;
	margin: 11px;
}
.input-btn {
	width: 118px;
	height: 32px;
}
form a {
	text-decoration: none;
	color: rgb(220, 145, 145);
}
.footer-end {
	width: 100%;
	height: 103px;
	border: 1px solid black;
	background: #424040;
	text-align: center;
	line-height: 0px;
	padding-top: 21px;
}
.footer-end h2 {
	color: #ffffff;
	font-size: 30px;
}
.footer-end h2 span {
	color: rgb(109, 19, 19);
}